.profile {
    width: 100%;
    height: 100%;
    
}

.profile-card {
    width:100%;
    height:100%;
    min-width: 400px;
    display:flex;
    justify-content: space-around;
    border-radius: 10px;
    /* box-shadow: 0 0 8px #ddd; */

}   

.profile-card-body {
    min-height: 400px;
    min-width: 400px;
    height: 100%;
    width: 100%;
    
    display:flex;
    flex-direction:column;
    max-height: 60vh;
    overflow-y: auto;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px #ddd;
    /* background-color: rgb(255, 255, 255, 0.2); */
}

.profile-card-body-item {
    background-color: rgb(255, 255, 255, 0.2);

}

.result-title {
    text-align: left;
    padding-left: 2rem;
    cursor: pointer;
}

.result-title:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

@media only screen and (max-width: 1200px) {
    .profile-card {
        flex-direction: column;
    }
}