.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header .navigation a {
    font-size: larger;
    font-weight: bolder;
}

.header .navigation a:hover {
    color: #c4e0dc
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-align: center;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.nav-btn {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 100px;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0;
}

@media only screen and (max-width: 1200px) {
   .nav-btn {
    visibility: visible;
    opacity: 1;
    margin: 12px;
   }

   nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #162938;
    transition: 1s;
    transform: translateY(-100vh);
   }

   .responsive_nav{
    transform: none;
   }

   .nav-close-btn {
    position: relative;
    transform: translateX(120px);
   }
}