.todo {
    /* background-color: rgba(127, 170, 168, 0.7); */
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 1rem;
}

.buttons button{
    margin-left: 1rem;
}
