.todoForm {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: rgba(255, 255, 255, 0.2);
}

.box {
    min-width: 50%;
    background-color: transparent;
    /* background-color: rgba(48, 69, 68, 0.7); */
    border-radius: 10px;
    padding-left: 20px;
    color: rgb(80, 66, 66);
}
.box::placeholder {
    color: rgb(80, 66, 66);
}


.todo-list {
    max-height: 20rem;
    overflow-y: auto;
}