.cal {
    /* background-color: rgb(119, 86, 86); */
    /* border-width: 5 px;
    border-color: rgb(40, 35, 35); */
    /* position: fixed;
    top: 10rem;
    left: 10rem; */
    /* height: 600px;
    max-height: 80%;
    width: 100%;
    min-height: 500px; */
    aspect-ratio: 10/9;
    overflow-x:auto;
    min-width: 670px;
}

.cal-wrapper {
    overflow-x: auto;
    overflow-y: auto;
}
.cal-in {
    height: 100%;
    width: 100%;
}

.rbc-today{
    background-color: rgb(255, 255, 255, 0.3);
}

.rbc-event{
    background-color: #9f7ec4 !important;
}

.rbc-off-range{
    color:#fff;
}