.cal {
    /* background-color: rgb(119, 86, 86); */
    /* border-width: 5 px;
    border-color: rgb(40, 35, 35); */
    /* position: fixed;
    top: 10rem;
    left: 10rem; */
    height: 600px;
    width: 700px;
    /* aspect-ratio: 10/9;
    min-width: 670px; */
}

.cal-wrapper {
    height: inherit;
    width: inherit;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: left;
}
.cal-in {
    height: 100%;
    width: 100%;
}

.rbc-today{
    background-color: rgb(255, 255, 255, 0.3);
}

.rbc-event{
    background-color: #9f7ec4 !important;
}

.rbc-off-range{
    color:#fff;
}